.about {
  margin: auto;
  margin-top: 1rem;
  margin-bottom: 1.875rem;
  display: flex;
  width: 46.875rem;
  height: 25rem;
  align-items: center;
  padding: .625rem;
  font-size: 1.25rem;
}

.image img {
  border-radius: 50%;
  width: 100%;
}

.image {
  width: 12.5rem;
  aspect-ratio: 1/1;
  border-radius: 50%;
  display: flex;
}

.about-table {
  padding-left: 2.5rem;
  margin-left: 1rem;
}

.about-table th {
  text-align: left;
  padding: 0.625rem;
  padding-right: 1.875rem;
}

.about-table td {
  padding-left: 1rem;
}

@media (max-width: 900px) {
  .about {
    flex-direction: column;
    width: fit-content;
    height: auto;
    font-size: 1.2rem;
    margin-top: 3rem;
    align-items: unset;
    padding: .3125rem;
  }
  .image {
    margin: auto;
  }
  .about-table {
    padding: 0;
    margin-top: 2rem;
    margin-bottom: 1rem;
    margin-left: 0;
  }
  .about th {
    padding-right: .3125rem;
  }
}

@media (max-width: 600px) {
  .about {
    width: 90%;
    font-size: 1.1rem;
    margin-left: 2%;
    padding: 0;
  }
}