.about {
    margin: 150px auto 0 auto;
    display: flex;
    width: 750px;
    height: 400px;
    align-items: center;
    padding: 10px;
    border: 2px solid black;
    font-size: 20px;
}

.image img{
    width: 200px;
    aspect-ratio: 1/1;
    border-radius: 50%;
}


.about-table {
    padding-left: 40px;
}

.about-table th {
    text-align: left;
    padding: 10px;
    padding-right: 30px;
}

@media (max-width: 700px) {
    .about {
        flex-direction: column;
        width: 310px;
        height: auto;
        font-size: 15px;
        margin-top: 40px;
        /* padding: 5px; */
    }
    .about-table {
        padding: 0;
    }
}