.introduction {
    display: flex;
    /* margin-top: 6rem; */
    /* height: 500px; */
    height: 31.25rem;
    width: 100%;
    background-color: #A0D8B3;
    color: rgb(66, 66, 66);
    justify-content: space-evenly;
    align-items: center;
}

.introduction .left .special{
    /* width: 342px; */
    width: 22rem;
}

.introduction .left p {
    font-size: 3rem;
}

.introduction .left .intro-content .special {
    color: rgb(173, 113, 1);
}

.introduction .right img {
    /* width: 200px; */
    width: 12.5rem;
    aspect-ratio: 1/1;
    border-radius: 50%;
}

.introduction .left .intro-content {
    display: flex;
    justify-content: center;
}

@media (max-width: 800px) {
    .md-reverse {
        flex-direction: column-reverse;
        justify-content: center;
    }
    .md {
        flex-direction: column;
    }
    .intro-content {
        margin-top: .625rem;
        text-align: center;
    }
    .introduction {
        height: 28rem;
    }
}

@media (max-width: 600px) {
    .introduction .left p {
        font-size: 2rem;
    }
}

@media (max-width: 400px) {
    .introduction .left .special{
        width: 18rem;
    }
}
