.resume img{
    width: 100%;
    aspect-ratio: 3/4;
    pointer-events: none;
}

.resume {
    margin: auto;
    margin-top: 3rem;
    margin-bottom: 3rem;
    width: 60%;
    border: .1rem dashed black;
}

@media (max-width: 700px) {
    .resume {
        width: 95%;
    }
}