.work {
  margin: auto;
  margin-top: 1rem;
  margin-bottom: 1.875rem;
  width: 70%;
  /* border: 0.0625rem solid black; */
  height: auto;
  padding: 1.25rem;
}

.list {
  padding: 1.25rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  /* border: .125rem solid black; */
  width: 80%;
  align-content: flex-start;
}

.list li {
  list-style-type: none;
}

.sub-lists {
  /* border: 1px solid red; */
  padding: 0.625rem;
  margin-right: 0.3125rem;
}

.content {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
}

.img-container {
  /* width: 40px; */
  width: 2.5rem;
  /* height: 40px; */
  height: 2.5rem;
  margin-right: 0.625rem;
}

.skill {
  margin-bottom: 0.3125rem;
}

.experience {
  margin-top: 1.875rem;
}

.project {
  margin-top: 1.25rem;
}

.work-demo {
  width: 70%;
  aspect-ratio: 3/2;
  border: 0.125rem solid black;
  border-radius: 0.625rem;
  margin-bottom: 1.25rem;
  margin-top: 1.25rem;
}

@media (max-width: 900px) {
  .list {
    flex-direction: column;
    width: fit-content;
  }
  .sub-lists {
    padding: 0;
  }.work-demo {
    width: 100%;
  }
}

@media (max-width: 780px) {
  .work {
    margin-left: 1%;
    width: 90%;
  }
}
